<!DOCTYPE html>
<html lang="en" xmins:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-image: url('/Background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <title>Welcome Page</title>
</head>

<body>

    <div class="container">

        <div class="row mt-5">
            <div class="col d-flex justify-content-center">
                <h1 style="font-size: 2.5em"><b>Welcome to Ian's To-do Record Sheet</b></h1>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col d-flex justify-content-center">
                <form 
                    action="#"
                    th:action="@{/}"
                    th:object="${getUserName}" 
                    method="post"
                >
                <!-- th:action="@{/}" means that the "Save" button will look for the 
                    PostMapping("/home") method -->

                <label class="form-label"><b>Please enter your User Name:</b></label>

                <div class="input-group">
                    <input type="text" class="form-control" th:field="*{userName}" required 
                        title="This field is required" placeholder="Enter your name" size="80">
                    <button type="submit" class="btn btn-primary" style="background-color:black"
                        ><b>Go!</b></button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>